body, html {
	margin: auto;
	box-sizing: border-box;
	word-break: keep-all;
	font-family: "Arial",serif;
	min-height: 100vh;
	min-width: 130px;
 	height: 100%;
	background-color: #F3F4F6;
}
header {
	display: flex;
	align-items: center;
	max-height: 36px;
	height: 100%;
	margin-bottom: 62px;
}
.header-logo {
}

.header-separator img{
	width: 98%;
    margin-left: 10px ;
}
.header-todod {
    left: 1360px;
}
.main-container {
	height: 100%;
	width: 100%;
	max-width: 75%;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: auto;
	padding-top: 38px;
}
.card-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.card-item {
	height: 100%;
	flex-basis: calc(20% - 20px);
	border-radius: 6px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.card-item:nth-child(2n) {
	margin-right: 0;
}
.card-item:nth-child(2n + 1) {
    margin-left: 0;
}

.card-header {
    display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.card-header-title {
	padding-top: 23px;
	padding-left: 30px;
	height: 29px;
	width: 137px;
	color: rgba(0, 0, 0, 0.9);
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	font-family: 'Roboto', sans-serif;
}
.card-header-title input{
	height: 29px;
	width: 500px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
	border: none;
	color: black;
	opacity: 0.9;
	background-color: white;}

.card-header-icon img {
	padding-top: 15px;
	padding-right: 15px;
	height: 18px;
	width: 14px;
}
.card-body{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 580px;
	background-color: #FFFFFF;
}
.card-body-item{
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-body-checkbox {
	height: 20px;
	width: 20px;
	border: 2px solid #7F7F7F;
	border-radius: 6px;
}
.card-body-title{
	margin-left: 10px;
	height: 30px;
	width: 100%;
	opacity: 0.5;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 29px;
	alignment: left;

}
.class-footer {
	margin-top: 8px;
	padding-top: 4px;
	padding-left: 25px;
	height: 40px;
	width: 500px;
	background-color: #FFFFFF;
}
input{
	height: 29px;
	width: 500px;
	opacity: 0.5;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 29px;
	border: none;
	background-color: inherit;
}
.add {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    bottom: 10px;
}


